.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

    column-gap: 20px;
    padding: 20px;
}

.userList {
    display: grid;
    row-gap: 10px;
}

.massegesList {
    padding: 10px;
    border-left: 1px solid grey;
    height: 100%;
}
