.inner{
    display: flex;
    flex-wrap: wrap;
}
.items{
    width: 50%;
    display: flex;
}

.items+.items{
    margin-bottom: 30px;
}
.img{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #999;
}
.btn{
    display: block;
    margin-top: 10px;
}
.list{
    margin-left: 10px;
    padding: 5px 0;
}
.list__item{}
.list__item+.list__item{
    margin-top: 20px;
}

.list__pagination{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: flex-end;
}
.list__paginationItem{
    margin: 0px 10px;
    cursor: pointer;
}

.active{
    font-size: 20px;
    color: gold;
}
