.storyList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    column-gap: 15px;
    row-gap: 15px;

    justify-items: center;
    margin-bottom: 30px;
}

.storyItem {
}
.storyImg {
    /* width: 140px;
    height: 195px; */
    /* overflow: hidden;
    object-fit: cover; */
}
