.header {
    padding: 15px 0;
    grid-area: h;
    background-color: #0d0d0d;
}
.header__inner {
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.header__logo {
    max-width: 150px;
    overflow: hidden;
}

.header__item {
}

.header__link {
    display: block;
    color: #fff;
    text-align: right;
    margin-top: 10px;
}
