.userItem {
}

.userLink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: center;

    text-decoration: none;
    color: #ffffff;
}

.userLink.active {
    color: #daa520;
}

.userImg {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.userName {
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.2;
}
